variable "image_id" {
  type = "string"
  default = "{{ qcow2_image }}"
}

variable "master_count" {
  type = "string"
  default = "{{ master_count }}"
}

variable "master_disk" {
  type = "string"
  default = "{{ master_disk|human_to_bytes }}"
}
variable "bootstrap_disk" {
  type = "string"
  default = "{{ master_disk|human_to_bytes }}"
}

variable "worker_count" {
  type = "string"
  default = "{{ worker_count }}"
}

variable "worker_disk" {
  type = "string"
  default = "{{ worker_disk|human_to_bytes }}"
}

variable "libvirt_pool"{
  type = "string"
  default = "{{ libvirt_pool }}"
}

variable "services_memory" {
  type = "string"
  default = "{{ services_memory }}"
}

variable "bootstrap_memory" {
  type = "string"
  default = "{{ bootstrap_memory }}"
}

variable "masters_memory" {
  type = "string"
  default = "{{ masters_memory }}"
}

variable "workers_memory" {
  type = "string"
  default = "{{ workers_memory }}"
}

variable "masters_vcpu" {
  type = "string"
  default = "{{ masters_vcpu }}"
}

variable "workers_vcpu" {
  type = "string"
  default = "{{ workers_vcpu }}"
}

variable "bootstrap_vcpu" {
  type = "string"
  default = "{{ bootstrap_vcpu }}"
}
