<network>
  <name>ocp-net</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <mac address='52:54:00:28:fb:de'/>
  <domain name='{{ network_name }}' localOnly='yes'/>
  <ip address='10.10.10.1' netmask='255.255.255.0'>
    <dhcp>
      <range start='10.10.10.40' end='10.10.10.245'/>
      <host mac='AA:BB:CC:11:22:10' name='ocp-bastion.{{ network_name }}' ip='10.10.10.10'/>
{% for master in range(1,master_count|int+1) %}
      <host mac='AA:BB:CC:11:22:2{{ master }}' name='ocp-master-{{ master }}.{{ network_name }}' ip='10.10.10.2{{ master }}'/>
{% endfor %}
{% for node in range(1, nodes_count|int+1) %}
      <host mac='AA:BB:CC:11:22:4{{ node }}' name='ocp-node-{{ node }}.{{ network_name }}' ip='10.10.10.4{{ node }}'/>
{% endfor %}}
    </dhcp>
  </ip>
</network>

